<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "giraffe.jpg" %>
	</div>

	<div id="content">
		<h1>Hi, I'm Jess!</h1>
		<p>
			I'm learning a lot of stuff. Rails is pretty cool. I'm excited to learn lots more. Woohoo!
		</p>
		<p>
			Here's another paragraph. It seems like a good idea. Hopefully soon I will have my poem maker thingy up and that will be loads of fun!
		</p>
	</div>
</div>